:root {
    --primary: #22ba7d;
    --primary-dark: #0a955e;
    --primary-light: #c9f7e2;
    --red: #e64340;

    --text-primary: #343b4b;
    --text-secondary: #70757d;

    --background-grey: #efeff2;
    --background-white: #fff;

    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-btn: 20px;

    --shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    /* 4. Increase line-height */
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

    /* set default font-size to 16px */
    font-size: 1.6rem;
    /* 4. Increase line-height */
    -webkit-font-smoothing: antialiased;
    /* 4. Increase line-height */
    line-height: 1.5;
}

/* 6. Improve media defaults */
img,
picture,
svg {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    font-weight: 600;
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

.auth-page {
    display: grid;
    grid-template-columns: calc(40%) 1fr;
    height: 100vh;
}

.auth-page__illustration {
    background-image: url(img/background.jpg);
    background-size: cover;
}

.auth-page__form {
    display: grid;
    place-items: center;
    padding: 0 10rem 0 3rem;
    background-color: var(--background-white);
}

.signup-form {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 3.5rem;
    column-gap: 5rem;
    width: 100%;
}

.signup-form__field {
    display: flex;
    flex-direction: column;
}

.signup-form__caption {
    grid-area: 1 / span 2;
    padding-bottom: 3rem;
    font-weight: 600;
    color: var(--primary);
}

.signup-form__submit {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
}

.btn--primary {
    width: 20rem;
    aspect-ratio: 5 / 1;
    font-weight: 600;
    color: var(--background-white);
    background-color: var(--primary);
    border: none;
    border-radius: var(--radius-btn);
    transition: background-color 1s ease;
}

.btn--primary:hover {
    color: var(--primary);
    background-color: var(--background-white);
    border: 2px solid var(--primary);
}

.signup-form__question {
    padding-top: 1rem;
    color: var(--text-secondary);
}

.link {
    font-weight: 600;
    color: var(--primary);
    text-decoration: none;
}

.signup-form__field {
    position: relative;
}
.signup-form__input {
    height: 4rem;
    padding-left: 1rem;
    background-color: var(--background-grey);
    border: none;
    border-radius: var(--radius-sm);
}

.signup-form__input:focus {
    outline: none;
    border: 2px solid var(--primary-dark);
}

.signup-form__input:required:user-invalid {
    border: 2px solid var(--red);
}

.signup-form__input:user-invalid + .signup-form__required::before {
    position: absolute;
    top: -2.5rem;
    display: block;
    font-weight: 500;
    color: var(--red);
    content: "required \2217";
}

.signup-form__label {
    position: absolute;
    opacity: 0;
}
